@model ShopRite.Core.DTOs.OrderDTO

<h2 style= "color: greenyellow">You have successfully ordered the following products:</h2>
@foreach(var order in Model.ProductDetails)
{
    <ul>
        <li>Product name: @order.Name</li>
        <li>Product size: @order.Size</li>
        <li>Product price: @order.RequestedQuantity x @order.Price</li>
    </ul>
    <b></b>
}

<h1>TOTAL PRICE: @Model.TotalPrice</h1>


